@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');

*
  font-family 'Bree Serif', serif;

h1, h2, h3, h4, h5
  text-shadow 2px 2px rgba(0, 0, 0, 0.3)

button 
  border-radius 4px
  border 1px solid rgba(0, 0, 0, 0.3)
  padding 5px 10px
  cursor pointer

  &:hover
    background rgba(200, 200, 100, 0.3)

ul
  li
    font-size 0.9em
    line-height 2.4em