@import url('../node_modules/normalize.css/normalize.css')
@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Alegreya+SC|Bangers|Modak|Monoton|Ropa+Sans&display=swap')

html, body
  font-family 'Bree Serif', serif;

h1, h2, h3, h4, h5
  text-shadow 2px 2px rgba(0, 0, 0, 0.3)

button 
  border-radius 4px
  border 1px solid rgba(0, 0, 0, 0.3)
  padding 5px 10px
  cursor pointer

  &:hover
    background rgba(200, 200, 100, 0.3)

ul
  li
    font-size 0.9em
    line-height 2.4em

.type1
  font-family: 'Modak', cursive;

.type2
  font-family: 'Ropa Sans', sans-serif;

.type3
  font-family: 'Bangers', cursive;

.type4
  font-family: 'Monoton', cursive;

.type5
  font-family: 'Alegreya SC', serif;